body{
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
text-align: center;
color: rgba(75, 73, 73, 0.468);
background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
padding-bottom: 80px;
display: flex;
justify-content: center;
align-items: center;
}

.border{border: 10px solid rgb(177, 138, 200);
margin: 0;
height: 95vh;
width: 180vh;
}

button {
  border-radius: 30%;
}

span{
  padding-left: 42px;
}

  .btn-6 {
    background: rgb(193, 102, 176);
  background: radial-gradient(circle, rgb(203, 135, 201) 0%, rgb(179, 202, 236) 100%);
    line-height: 42px;
    padding: 0;
    border: none;
  }
  .btn-6 span {
    position: relative;
    display: flex;
    border: 1px solid rgb(174, 124, 184);
    border-radius: 20px;
    width: 100px;
    height: 1%;
  }
  .btn-6:before,
  .btn-6:after {
    position: absolute;
    content: "";
    height: 10px;
    width: 1px;
   box-shadow:
     -1px -1px 20px 0px rgb(255, 255, 255),
     -4px -4px 5px 0px rgba(255,255,255,1),
     7px 7px 20px 0px rgba(0,0,0,.4),
     4px 4px 5px 0px rgba(0,0,0,.3);
  }
  .btn-6:before {
    right: 0;
    top: 0;
    transition: all 500ms ease;
  }
  .btn-6:after {
    left: 0;
    bottom: 0;
    transition: all 500ms ease;
  }
  .btn-6:hover{
    background: transparent;
    color: #76aef1;
    box-shadow: none;
  }
  .btn-6:hover:before {
    transition: all 500ms ease;
    height: 100%;
  }
  .btn-6:hover:after {
    transition: all 500ms ease;
    height: 100%;
  }
  .btn-6 span:before,
  .btn-6 span:after {
    position: absolute;
    content: "";
    box-shadow:
     -1px -1px 20px 0px rgba(255,255,255,1),
     -4px -4px 5px 0px rgba(255,255,255,1),
     7px 7px 20px 0px rgba(0,0,0,.4),
     4px 4px 5px 0px rgba(0,0,0,.3);
  }
  .btn-6 span:before {
    left: 0;
    top: 0;
    width: 0%;
    height: .5px;
    transition: all 500ms ease;
  }
  .btn-6 span:after {
    right: 0;
    bottom: 0;
    width: 0%;
    height: .5px;
    transition: all 500ms ease;
  }
  .btn-6 span:hover:before {
    width: 100%;
  }
  .btn-6 span:hover:after {
    width: 100%;
  }